body {
  background: #3d087b;
  height: 100%;
}
.main-container {
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.col {
  width: 46%;
  margin: 2%;
  /* background-color: red; */
}
/* Clock Logo */
.clock {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 12px;
  left: 8%;
}
/* Message-1 */
.message-1 {
  margin-left: 55%;
  width: 220px;
  height: 88px;
  font-size: 18px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #00000029;
  opacity: 1;
  padding: 3px;
  border-radius: 20px;
}

.digitalClock {
  width: 520px;
  height: 120px;
  border-radius: 10px;
  background-color: #ffffff;

  margin: 10px 0 10px 0;
  padding-top: 12px;
}
.timer {
  width: 98%;
  height: 82px;
  margin-top: 18px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.time {
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: #3d087bde;
  margin-top: 20px;
}
#hours {
  width: 80px;
  height: 82px;
  border-radius: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #3d087bde;
  text-align: center;
  background: url("timeline.jpg");
}
#mins {
  width: 80px;
  height: 82px;
  border-radius: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #3d087bde;
  text-align: center;
  background: url("timeline.jpg");
}
#secs {
  width: 80px;
  height: 82px;
  border-radius: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #3d087bde;
  text-align: center;
  background: url("timeline.jpg");
}
.t {
  width: 80px;
  height: 82px;
  border-radius: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #dd39e9;
  text-align: center;
  background: url("timeline.jpg");
}
.t1 {
  text-align: center;
  align-content: center;
  color: #ffffff;
  background-color: #6b5ac1;
  padding-top: 10px;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  font-family: "Bubblegum Sans", cursive;
}
.colon {
  font-size: 2.4rem;
  margin-top: 10px;
}
.boxOne {
  width: 78%;
  height: 110px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.696);
  opacity: 0.71;
  margin-top: -70px;
  margin-left: 50px;
  z-index: -1;
}
.boxTwo {
  width: 70%;
  height: 110px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.696);
  opacity: 0.22;
  margin-top: -90px;
  margin-left: 70px;
  z-index: -2;
}
/* Tble of Timing */
.timeTable {
  width: 80%;
  height: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;

  padding: 20px 20px;
  position: relative;
  top: 25px;
  left: 10%;
}
.vertical {
  width: 100%;
  height: 25px;
  margin: 4px 0 4px 18px;
  border-left: 1px solid grey;
}
.wake,
.nap,
.lunch,
.night {
  display: flex;
}
select {
  width: 42%;
  height: 28px;
  border: 1px solid #ededed;
  font: 16px Manrope;
  color: #3d087bde;
  border-radius: 4px;
  position: relative;
  margin-left: 50%;
}
.grab {
  width: 520px;
  height: 100px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  top: 30px;
  left: 8px;
}
#greetText {
  width: 492px;
  height: 38px;
  font-size: 26px;
  letter-spacing: 0px;
  color: #8e53f0;
  margin-left: 5px;
  font-family: "Clicker Script", cursive;
  font-weight: bold;
}
.text {
  position: absolute;
  margin-top: 6px;
  left: 18%;
  font: 19px Manrope;
  color: #3d087b;
}

.morning {
  width: 500px;
  height: 80px;
  background-color: rgba(97, 56, 136, 0.488);
  border-radius: 10px;
  position: relative;
  top: 50px;
  left: 50px;
}
#timeText {
  color: #ffffff;
  font-family: "Bubblegum Sans", cursive;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 3px 3px 2px black;
}
#alarm {
  display: flex;
}
/* Alarm */
.alarm {
  width: 300px;
  height: 44px;
  background-image: linear-gradient(
    113deg,
    #6e54ec 0%,
    #cb52f8 40%,
    #fc5eff 81%,
    #f1a7c5 100%
  );
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  top: 60px;
  left: 45px;
  padding-top: 2px;
  border: none;
}
.a1 {
  font-family: "Comfortaa", cursive;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
}
.alarm:hover .a1 {
  display: none;
}
.alarm:hover::before {
  content: "Party Time !!";
  font-family: "Comfortaa", cursive;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
}
.alarm:hover {
  background-image: linear-gradient(
    113deg,
    #f1a7c5 0%,
    #fc5eff 40%,
    #cb52f8 81%,
    #6e54ec 100%
  );
}
.guide {
  width: 220px;
  height: 160px;
  position: relative;
  top: 60px;
  left: 55px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(97, 56, 136, 0.488);
}
.none {
  padding: 12px 0px 0px 15px;
  color: #f06af9;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
}
#changeImage {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  top: 46px;
  left: 5px;
}
.message-2 {
  margin-top: 10px;
  width: 250px;
  height: 88px;
  font-size: 18px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #00000029;
  opacity: 1;
  padding: 3px;
  border-radius: 20px;
}
@media screen and (max-width: 1034px) {
  .message-1,
  .message-2 {
    visibility: hidden;
  }
  .clock {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 12px;
    left: 2%;
  }
  .timeTable {
    position: relative;
    left: 5%;
  }
  .morning {
    position: relative;
    top: 50px;
    left: -20px;
    width: 440px;
  }
  .digitalClock {
    margin-left: -10px;
  }
  #alarm {
    display: block;
  }
  .guide {
    position: relative;
    top: 80px;
    left: 55px;
  }
  .grab {
    width: 500px;
    padding-top: 4px;
    position: relative;
    top: 30px;
    right: 5px;
  }
}

@media screen and (max-width: 844px) {
  .main-container {
    display: block;
  }
  .col {
    width: 90%;
  }
  .clock {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 12px;
    left: 2%;
  }
  .timeTable {
    width: 100%;
  }
  .morning {
    position: relative;
    top: 50px;
    left: 30px;
    width: 100%;
  }
  .digitalClock {
    margin-left: 10px;
  }
  #alarm {
    display: flex;
    justify-content: space-evenly;
  }
  .alarm {
    width: 250px;
    position: relative;
    top: 120px;
    left: 5px;
  }
  .guide {
    position: relative;
    top: 80px;
    left: 55px;
  }
  .col-2 {
    margin-left: 10%;
  }
}
@media screen and (max-width: 594px) {
  .digitalClock {
    position: relative;
    left: 0;
    width: 480px;
  }
  .col-2 {
    margin-left: 0;
  }
}
@media screen and (max-width: 410px) {
  .timeTable {
    width: 100%;
  }
  .col {
    width: 98%;
  }
  .guide {
    position: relative;
    top: 80px;
    left: 55px;
    height: 200px;
  }
  .col-2 {
    margin-left: 0;
  }
}
